a{
    text-decoration: none;
    color: inherit;
    
}
ul {
    list-style-type: none;
    margin: 10px;    
}

li{
    padding: 7px;
    margin: 10px;
    
}
h4{
    text-align: center;
    background-color: rgb(236, 236, 30);
    height: 30px;
}

.headerApp{
    background-color: rgb(236, 236, 30);
    text-align: center;
    height: 50px;
}

.bottom{
    position: absolute;
    bottom: 0px;
    background-color: rgb(236, 236, 30);
    color: rgb(236, 236, 30);
    width: 100%;
    height: 100px;
}

  

